/***** General *****/
body {
    margin: 0;
    padding: 0;
    background: url(body_bg.jpg) repeat-x;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #444444;
}
h2, h3, h4 {
    font-family: "Trebuchet MS";
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 17px;
    color:#03568C;
}
h2.section_title {
    background: transparent url(dot.gif) repeat-x scroll center bottom;
    color: #CC6600;
    font-size: 20px;
    margin: 42px 0 10px;
    padding: 0 0 7px;
}
p{
    line-height: 19px;
}
blockquote {
    font-style: italic;
    margin-left: 30px;
    padding-left: 15px;
    border-left: 3px solid #F2EEDF;
} 
pre{
    background-color:#F2F2F2;
    border:1px solid #E7E7E7;
    padding:10px;
    overflow:auto;
}
ul{
    line-height: 17px;
}
a {
    color: #03568C;
    text-decoration:none;
    outline-style:none;
    padding: 1px 2px;
}
a:hover {
    color: #FFFFFF;
    background-color: #03568C;
}
img {
    border: none;
}
form {
    margin: 0px;
    padding: 0px;
}
abbr {
    border-bottom: 1px dotted #03568C;
    color: #03568C;
    cursor: help;
}

/***** Menu *****/
#menu {
    width: 320px;
    color: #FFFFFF;
    height: 22px;
    margin: 5px auto;
    text-align: center;
    background: url(menu_bg.jpg) no-repeat;
}
#menu a {
    color: #60B8CA;
    padding: 0; 
    margin: 0 10px;
    background-color: transparent;
}
#menu a:hover {
    color: #FFFFFF;
    text-decoration:none;
}

/***** Header *****/
#header {
    width: 740px;
    margin: 0 auto 10px;
    padding: 0;
    font-weight: bold;
}
#header_content {
    overflow: auto;
}
#header h1 {
    height: 44px;
    background: url(expression_lab_logo.jpg) no-repeat center;
    text-indent:-9999px;
}
#header h1 a{
    display:block;
    width:215px;
    margin:0pt auto;
}
#header h1 a:hover{
    background-color: transparent;
}
#header h2 {
    color: #6B9800;
    font-size: 20px;
    font-weight: normal;
}
#logo {
    margin: 80px 0 0 0;
    height: 80px;
}

/***** Content *****/
.column {
    float: left;
    width: 230px;
}
.middle_column {
    margin: 0 25px;
}
.main {
    float: left;
    width: 480px;
}
.section {
    margin: 0;
    background: url(section_bg.jpg) repeat-x;
}
.section_content {
    margin: 0 auto;
    width: 740px;
    overflow: auto;
}
.content, .main {
    font-size: 13px;
}
.post h3{
    font-family:verdana;
}
h3.title {
    color: #CC6600;
    font-weight: normal;
    background: transparent url(dot.gif) repeat-x scroll center bottom;
    margin: 17px 0 7px;
    padding: 0 0 7px;
    font-family: "Trebuchet MS";
}
a.image_link {
    padding: 0;
}
a.image_link:hover {
    background: none;
}

/***** Sidebar *****/
.sidebar {
    float: right;
    width: 230px;
    margin: 28px 0;
}
.sidebar a{
    font-weight: bold;
}
.sidebar .title{
    color:#6B9800;
}
#q {
    margin:0 0 0 2px;
    width:178px;
}
#go_button {
    width: 39px;    
}
.sponsor{
    text-align: center; 
}

/***** Lists *****/
ul.inline, ul.separated, ul.bulleted, ul.image_bulleted {
    margin: 0;
    padding: 0;
}
ul.inline li {
    display: inline;
}
ul.separated li{
    border-bottom: 1px solid #F2EEDF;
}
ul.bulleted{
    margin: 0 0 0 15px;
    list-style: disc;
    color: #6B9800;
}
ul.bulleted li{
    margin: 7px 0; 
}
ul.image_bulleted li {
    list-style: none;
    margin:0 0 7px;
    padding: 5px 0pt 5px 30px;
}
ul.thoughts li {
    background: url(page.gif) no-repeat scroll left top;
    padding:0px 0pt 7px 23px;
}
ul.archives li {
    background: url(archive.gif) no-repeat scroll left top;   
    padding:0px 0pt 7px 23px;
}
ul.links li {
    background: url(arrow.gif) no-repeat scroll 10px center;
    margin: 0;
}
#about li{
    list-style: none;
    padding:13px 5px;
}
#comment-message{
    color:#6B9800;
    font-weight:bold;
}

/***** Post *****/
.post {
    margin: 30px 0;
}
.post a{
    color: #CC6600;
}
.post a:hover{
    color: #FFFFFF;
    background-color: #CC6600;
}
.post_head h2{
    font-size: 20px;
    font-weight: normal;
    background: transparent url(dot.gif) repeat-x scroll center bottom;
    margin: 0 0 10px;
    padding: 0 0 7px;
}
.post_head h2 a{
    color: #03568C;
    padding: 0;
}
.post_head h2 a:hover{
    color:#CC6600;
    background-color: transparent;
}
.post_date{
    color: #03568C;
    font-size: 10px;
}
.post_metadata {
    font-size: 10px;
    font-weight: bold;
    overflow: auto;
}
.post_tags {
    background: transparent url(folder.gif) no-repeat scroll left center;
    padding: 2px 0pt 2px 18px;
    float: left;
}
.post_comments {
    background: transparent url(comment.gif) no-repeat scroll left center;
    padding: 2px 0pt 2px 18px;
    float: right;
}
.excerpt{
    overflow: auto;
    clear: both;
}
.excerpt_image{
    float: left;
    margin: 5px 10px 0 0;
}
.read_more {
    margin: 0;
    font-weight: bold;
    text-align: right;
}
.photo {
    background-color:#FFFFFF;
    border:1px solid #DDDDDD;
    padding:2px;
}
.work-photo {
    float:left;
    margin:7px;
    padding:5px;
    width:94px;
}
.addthis_toolbox a:hover{
    background-color: #FFF;
}
#bookmark_links {
    padding: 0 0 10px;
    width: 260px;
    margin: 20px auto 0pt;
}
#comments {
    margin: 30px 0;
}
.comment_header {
    overflow: auto;
}
.comment_header p {
    margin: 10px 0 0 55px;
}
.gravatar {
    background-color:#FFFFFF;
    border:1px solid #CCCCCC;
    margin:10px 0 0;
    padding:2px;
    float: left;
}
ul.commentlist{
    color: #978640;
    list-style: none;
    padding: 0;
    margin: 0;
}
.commentlist li{
    background-color: #FDFDF8;
    border: 1px solid #F2EEDF;
    margin: 1em 0;
    padding: 0 1em;
    overflow:auto;
}
.commentlist li.alt{
    background-color: #FAFAED;
}
.subentry{
    margin: 0 0 20px;
}

/***** Footer *****/
#footer h4 {
    color: #CC6600;
    font-size: 16px;
    margin: 15px 0 0;
    padding: 0 0 7px;
    border-bottom: 1px solid #E2DABA;
}
#footer .section_content a{
    font-weight: bold;
}
#copyright {
    padding:20px 0pt 0pt;
    font-size: 10px;
    text-align: center;
}
#copyright p {
    margin: 15px 0 0;
}
a.feed{
    display:block;
    margin:5px auto 15px;
    width:49px;
    height:16px;
    background: transparent url(feed.gif) no-repeat scroll center center;     
    text-indent:-9999px;
}

/***** General *****/
.clear_both {
    clear:both;
    font-size:1px;
    height:0px;
    line-height:0px;
}
.clear_right {
    clear:right;
    font-size:1px;
    height:0px;
    line-height:0px;
}
.clear_left {
    clear:left;
    font-size:1px;
    height:0px;
    line-height:0px;
}

/***** Pagination *****/
.pagination{
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.pagination span{
  padding: 1px;
}
.pagination span a{
  padding: 1px 5px;
}
.pagination .current{
  padding: 1px 5px;
  color: #C60;
}

/***** Highslide *****/
.highslide-container div {
    font-family: Verdana, Helvetica;
}
.highslide {
    cursor: url(highslide/zoomin.cur), pointer;
    outline: none;
    text-decoration: none;
    padding: 0;
}
.highslide-active-anchor img {
    visibility: hidden;
}
.highslide-wrapper, .drop-shadow {
    background: white;
}
.highslide-wrapper {
    background: white;
}
.highslide-image {
    border: 10px solid white;
}
.highslide-caption {
    display: none;
    padding: 5px;
    font-weight: bold;
    background:transparent url(section_bg.jpg) repeat-x;
    text-align: center;
}
.highslide-caption a {
    color: #CC6600;
}
.highslide-caption a:hover {
    color: #FFFFFF;
    background-color: #CC6600;
}
.highslide-loading {
    display: block;
    color: black;
    font-size: 8pt;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
    border: 1px solid black;
    background-color: white;
    padding-left: 22px;
    background-image: url(highslide/loader.white.gif);
    background-repeat: no-repeat;
    background-position: 3px 1px;
}
a.highslide-credits,
a.highslide-credits i {
    padding: 2px;
    color: silver;
    text-decoration: none;
    font-size: 10px;
}
a.highslide-credits:hover,
a.highslide-credits:hover i {
    color: white;
    background-color: gray;
}

a.highslide-full-expand {
    background: url(highslide/fullexpand.gif) no-repeat;
    display: block;
    margin: 0 10px 10px 0;
    width: 34px;
    height: 34px;
}

/****** Scaffold ******/
#notice {
  color: green;
}

#error_explanation {
  color: #CC0000;
  background-color: #FFEBEB;
  border: 2px solid #E88C8C;
  padding: 10px 0 10px 30px;
}

.field_with_errors {
  border: 2px solid #E88C8C;
  display: table; 
}